@font-face {
  font-family: "roboto";
  src: url('../fonts/roboto-regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url('../fonts/roboto-medium.woff2') format('woff2'), url('../fonts/roboto-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url('../fonts/roboto-bold.woff2') format('woff2'), url('../fonts/roboto-bold.woff') format('woff'), url('../fonts/roboto-bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}
html {
  box-sizing: border-box;
}
.container {
  width: 100%;
  margin: 0 auto;
}
body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
body > input[type="radio"] {
  display: none;
}
a {
  text-decoration: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}
.site-wrapper {
  min-width: 940px;
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}
.site-wrapper::before {
  background-image: url(../img/slide2.png);
}
.site-wrapper::after {
  background-image: url(../img/slide3.png);
}
.content-wrapper {
  width: 100%;
  margin: 0 auto;
}
.catalag-wrapper {
  background-color: #849d8f;
  background-image: linear-gradient(to bottom, #9cb0a5 1%, #849d8f 40%);
}
.main-header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.main-logo {
  display: block;
  width: 154px;
  height: 64px;
  padding: 14px 10px 0 27px;
}
.main-section {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  text-align: right;
}
.main-contact {
  margin: 0;
  list-style: none;
}
.main-contact-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 27px 5px 0;
}
.main-contact-phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  margin: 0 26px 0 0;
}
.main-contact-phone a {
  color: #ffffff;
}
.navigation {
  display: flex;
  width: 100%;
  min-height: 77px;
  font-size: 16px;
  line-height: 18px;
}
.navigation-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 10px 0 0 0;
}
.navigation-wrap-site {
  list-style: none;
  margin: 0;
  padding: 0;
  /* width: 365px;*/
  display: flex;
  align-items: center;
}
.navigation-wrap-site-item {
  padding: 15px 0 12px 0;
}
.navigation-wrap-site-item-link {
  padding: 7px 14px;
  color: #ffffff;
  font-weight: 700;
  background-color: transparent;
  border-radius: 15px;
}
.navigation-wrap-site-item-link:hover,
.navigation-wrap-site-item-link:focus {
  border: 0;
  border-radius: 20px;
  color: #333333;
  background-color: #f7f6f3;
}
.navigation-wrap-site-item-link:active {
  background-color: #eaeaea;
  box-shadow: inset 0 2px 1px 0 #696969;
}
.navigation-label {
  border-bottom: 1px solid #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 310px;
}
.navigation-user li {
  list-style: none;
}
.navigation-user-panel {
  position: relative;
  margin: 0 0 3px 0;
  padding: 16px 0 12px 0;
}
.navigation-user-panel:hover .navigation-user-field {
  display: block;
}
.navigation-user-panel:hover .navigation-user-button svg,
.navigation-user-panel:focus .navigation-user-button svg {
  fill: #323232;
}
.navigation-user-button {
  margin: 0 10px 0 22px;
  padding: 7px;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}
.navigation-user-button svg {
  position: relative;
  top: 2px;
  fill: #ffffff;
}
.navigation-user-button:hover {
  background-color: #ffffff;
}
.navigation-user-field {
  position: absolute;
  right: 0;
  top: 47px;
  display: none;
  margin: 0;
  padding: 20px 15px;
  border-radius: 5px;
  list-style: none;
  background-color: #f8f7f4;
}
.navigation-user-field input {
  width: 300px;
  padding: 9px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  font: inherit;
  background-color: #fff;
  color: #323232;
}
.navigation-login {
  position: relative;
  padding-top: 16px;
  padding-bottom: 12px;
}
.navigation-login:hover .navigation-login-form {
  display: block;
}
.navigation-login-button {
  display: block;
  margin: 0 10px 0 0;
  position: relative;
  width: 75px;
  padding: 8px;
  border-radius: 20px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}
.navigation-login-button::before {
  content: "";
  background-image: url(../img/entrance_1.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 21px;
}
.navigation-login-button:hover::before {
  background-image: url(../img/entrance.svg);
}
.navigation-login-button:hover {
  color: #323232;
  background-color: #ffffff;
}
.navigation-login-button span {
  margin: 0 0 0 37px;
}
.navigation-login-form {
  position: absolute;
  right: -3px;
  top: 52px;
  z-index: 1;
  display: none;
  margin: 0;
  padding: 20px;
  border-radius: 5px;
  background-color: #f8f7f4;
}
.navigation-login-form:hover {
  display: block;
}
.navigation-login-form input {
  width: 212px;
  padding: 12px;
  font: inherit;
  color: #323232;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}
.navigation-login-item {
  margin: 0 0 20px;
  padding: 0;
}
.navigation-login-new {
  display: block;
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
  background: 0 0;
}
.navigation-links {
  margin: 0 0 0 17px;
}
.navigation-links-wrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
}
.navigation-button {
  padding: 10px 23px;
  border-radius: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background-color: #f26843;
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 1px 1px #ac1000;
  border: 0;
  cursor: pointer;
}
.navigation-button:hover,
.navigation-button:focus {
  background-color: #ffffff;
  background-image: linear-gradient(0deg, #eb6e5d 0%, #f48668 100%);
  box-shadow: 0 2px 2px 0 #ab1000;
}
.navigation-button:active {
  outline: inherit;
  background-color: #ffffff;
  background-image: linear-gradient(0deg, #e1613e 0%, #d74531 100%);
}
.navigation-button.login {
  padding: 10px 23px;
  border-radius: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
.navigation-cart {
  padding: 16px 0 12px 0;
}
.navigation-cart-button {
  display: block;
  padding: 8px;
  width: 105px;
  position: relative;
  border-radius: 20px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}
.navigation-cart-button::before {
  content: "";
  background-image: url(../img/basket.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 6px;
  left: 18px;
  width: 21px;
  height: 21px;
}
.navigation-cart-button:hover::before {
  background-image: url(../img/basket-red.svg);
}
.navigation-cart-button:hover {
  color: #323232;
  background-color: #ffffff;
}
.navigation-cart-button span {
  margin: 0 0 0 39px;
}
.active {
  background-color: #d07058;
  border-radius: 15px;
}
.active span {
  border-bottom: none;
}
.catalog-item {
  position: relative;
}
.catalog-item:hover .subnavigation {
  display: block;
}
.subnavigation {
  list-style: none;
  position: absolute;
  top: 45px;
  left: -6px;
  display: none;
  min-width: 143px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  background-color: #f8f7f4;
}
.subnavigation-item a,
.subnavigation-item p {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}
.subnavigation-item-link {
  padding: 9px 0 6px 19px;
  font-weight: 400;
  border: 0;
}
.subnavigation-item-link:hover,
.subnavigation-item-link:focus {
  background-color: #fbded7;
}
.subnavigation-item-link:active {
  background-color: #f6b5a5;
}
.subnavigation-item p {
  margin: 0;
  border-bottom: 1px solid #d1d0ce;
  padding: 10px 0 12px 19px;
  font-weight: 700;
}
.subnavigation-item p:hover,
.subnavigation-item p:focus {
  border: 0;
  border-bottom: 1px solid transparent;
  border-radius: 20px;
  color: #333333;
  background-color: #f7f6f3;
}
.slider {
  position: relative;
  padding-top: 270px;
  text-align: center;
  color: #ffffff;
}
.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 28px;
  /* z-index: 20;*/
  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.slide {
  display: none;
}
.slide-title {
  width: 700px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 35px;
}
.slide-btn {
  display: inline-block;
  padding: 12px 45px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.slide-btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px #ac1000;
}
.slide-btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px #ac1000;
}
#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}
#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide1.png");
}
#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide2.png");
}
#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide3.png");
}
#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}
.banner {
  padding: 35px 0 0 0;
}
.banner-container {
  width: 100%;
  color: #ffffff;
  padding: 5px 0 40px 0;
}
.banner-list {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}
.banner-item {
  min-width: 560px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  border-radius: 15px;
}
.banner-title {
  margin: 20px 0 15px 20px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}
.banner-text {
  max-width: 511px;
  margin: 0 0 45px 20px;
  font-size: 18px;
  font-weight: 700;
}
.banner-btn {
  align-self: flex-end;
  padding: 10px;
  margin: 0 20px 25px 0;
  border: none;
  border-radius: 45px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  opacity: 0.98;
  background-image: linear-gradient(0deg, #ca3824 0%, #f26843 100%);
  box-shadow: 0 2px 2px 0 rgba(85, 7, 0, 0.54);
}
.banner-btn:active {
  color: #fceeec;
  background-color: #ffffff;
  background-image: linear-gradient(0deg, #e1613e 0%, #d74531 100%);
}
.banner-btn:hover {
  color: #fefefe;
  background-color: #ffffff;
  background-image: linear-gradient(0deg, #eb6e5d 0%, #f48668 100%);
  box-shadow: 0 1px 2px 0 #ab1000;
}
.banner-btn:focus {
  color: #fefefe;
  background-color: #ffffff;
  background-image: linear-gradient(0deg, #eb6e5d 0%, #f48668 100%);
  box-shadow: 0 1px 2px 0 #ab1000;
}
.banner-btn:default {
  color: gray;
  background-color: darkgray;
}
.fon-one {
  background-color: crimson;
  background-image: url(../img/malinovyyfon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.fon-one button {
  min-width: 165px;
}
.fon-two {
  background-color: chocolate;
  background-image: url(../img/shokoladnyyfon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.fon-two button {
  min-width: 189px;
}
.wrap {
  margin-bottom: 26px;
}
.stick::before {
  content: "";
  display: block;
  width: 61px;
  height: 61px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../img/khit_2969.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}
.hit {
  width: 100%;
  min-height: 359px;
}
.hit-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style: none;
}
.hit-list-item {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  width: 267px;
  min-height: 324px;
}
.hit-list-item::after {
  position: absolute;
  content: '';
  left: -13px;
  top: -8px;
  width: 293px;
  height: 405px;
  border-radius: 5px;
}
.hit-list-item:hover::after {
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  opacity: 0.2;
}
.hit-list-item:focus::after {
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  opacity: 0.2;
}
.hit-list-item:hover .hit-list-link {
  display: block;
  z-index: 17;
}
.hit-list-item:focus .hit-list-link {
  display: block;
  z-index: 17;
}
.hit-list-img {
  width: 267px;
  height: 267px;
  border-radius: 50%;
  margin: 0 0 9px 0;
}
.hit-list-prise {
  line-height: 45px;
  position: absolute;
  top: 200px;
  left: 0;
  margin: 0 0 35px 0;
  color: #ffffff;
}
.hit-list-prise-number {
  font-size: 45px;
  font-weight: 700;
  margin: 0 36px 0 0;
}
.hit-list-prise-number::after {
  content: url(../img/rubl.png);
  display: block;
  position: absolute;
  top: 3px;
  left: 83px;
  width: 26px;
  height: 35px;
}
.hit-list-prise-excerpt {
  font-size: 30px;
}
.hit-list-text {
  font-weight: 500;
  line-height: 18px;
  text-decoration: underline;
  text-align: center;
  min-height: 45px;
  padding: 0 6px 0 7px;
  z-index: 19;
  margin: 0 0 17px 0;
}
.hit-list-text a {
  color: #ffffff;
}
.hit-list-text a:hover,
.hit-list-text a:focus,
.hit-list-text a:active {
  color: #ffbc9e;
}
.hit-list-link {
  display: none;
  position: absolute;
  top: 339px;
  left: 23px;
  align-self: center;
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 45px;
  text-align: center;
  background-color: #e84d37;
  background-image: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  box-shadow: 0 1px 2px 0 #ab1000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
}
.hit-list-link:active {
  color: #fceeec;
  background-color: #ffffff;
  background-image: linear-gradient(0deg, #e1613e 0%, #d74531 100%);
}
.hit-list-link:hover,
.hit-list-link:focus {
  color: #fefefe;
  background-color: #ffffff;
  background-image: linear-gradient(0deg, #eb6e5d 0%, #f48668 100%);
  box-shadow: 0 2px 2px 0 #ab1000;
}
.hit-list-link:default {
  color: gray;
  background-color: darkgray;
}
.hit-pagination {
  padding: 0 0 31px;
  margin: 6px 15px 0 0;
  height: 56px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  list-style: none;
}
.hit-pagination-link {
  margin-right: 5px;
}
.hit-pagination-link a {
  padding: 3px 8px;
  border-radius: 50%;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
}
.hit-pagination-link a:hover,
.hit-pagination-link a:focus {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.4);
}
.hit-pagination-link a:active {
  color: #323232;
  background-color: #ffffff;
}
.pagination {
  transform: rotate(180deg);
}
.activ a {
  color: #323232;
  background-color: #fff;
}
.about {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 0 40px 0;
  margin: 0;
}
.about-wrap {
  max-width: 1146px;
  max-height: 305px;
  background-image: url(../img/vaflyafon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.about-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
  margin: 0;
  padding: 23px 0 5px 21px;
}
.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  list-style: none;
  list-style-position: inside;
  margin: 15px 0 0 0;
  padding: 0;
}
.about-list-item {
  width: 50%;
  max-width: 480px;
  padding: 0 0 0 60px;
  color: #323232;
  position: relative;
  margin: 0 0 23px 0;
}
.about-list-item::before {
  content: "";
  display: block;
  position: absolute;
  top: -12px;
  left: 0;
  width: 49px;
  height: 49px;
  background-image: url(../img/morozhenko_2987.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #eee3c9;
}
.about-list-item:nth-child(2):before {
  background-image: url(../img/korova_2991.png);
}
.about-list-item:nth-child(3):before {
  background-image: url(../img/listik_2993.png);
}
.about-list-item:nth-child(4):before {
  background-image: url(../img/gradusnik_2989.png);
}
.blog-mailing-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 0 45px 0;
}
.blog {
  width: 50%;
  max-height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 24px 0 27px;
  border-radius: 15px;
  background-color: #ffffff;
  background-image: url(../img/klubnichnyyfon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.blog-new {
  margin: 26px 0 10px 20px;
  font-weight: 500;
  color: #323232;
}
.blog-link {
  margin: 0 0 80px 20px;
  max-width: 280px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
}
.mailing {
  max-width: 560px;
  max-height: 220px;
  margin: 0 30px 0 0;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 6px solid transparent;
  border-radius: 15px;
  border-image: url(../img/pofon.png) 8 round;
}
.mailing-text {
  max-width: 505px;
  margin: 35px 25px 32px 20px;
  color: #5a5a5a;
}
.mailing-user {
  display: flex;
  margin: 0 15px 32px 27px;
}
.mailing-user-email {
  width: 368px;
  height: 44px;
  margin: 0 10px 0 0;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border: 1px solid rgba(178, 178, 178, 0.51);
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  box-sizing: border-box;
}
.mailing-button {
  width: 129px;
  padding: 8px;
  border-radius: 25px;
  background-color: #e84d37;
  background-image: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  box-shadow: 0 2px 2px 0 rgba(171, 16, 0, 0.63);
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
}
.mailing-button:hover {
  background-color: #ffffff;
  background-image: linear-gradient(0deg, #eb6e5d 0%, #f48668 100%);
  box-shadow: 0 1px 2px 0 #ab1000;
}
.mailing-show {
  animation-name: mailing;
  animation-duration: 0.6s;
}
@keyframes mailing {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-15px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(15px);
  }
}
.contact {
  width: 100%;
  min-height: 430px;
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url(../img/layer.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.contact-wrap {
  position: absolute;
  top: 62px;
  left: 870px;
  width: 302px;
  min-height: 305px;
  border-radius: 15px;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.98);
  text-align: left;
  padding: 0;
  /* &::before {
      content: "";
      display: block;
      position: absolute;
      top: 73px;
      left: -606px;
      width: 80px;
      height: 140px;
      background-image: url(../img/pin.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
    }*/
}
.contact-info {
  max-width: 150px;
  margin: 28px 0 2px 25px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}
.contact-info-text {
  max-width: 220px;
  margin: 0 0 18px 25px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}
.contact-info-number {
  margin: 0 0 3px 25px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}
.contact-info-number-text {
  margin: 0 0 2px 25px;
  font-size: 18px;
  font-weight: 700;
  color: #323232;
}
.contact-info-number-time {
  margin: 0 0 31px 25px;
  font-size: 14px;
  color: #323232;
}
.contact-button {
  width: 252px;
  padding: 10px 25px;
  margin: 0 25px 0 25px;
  border-radius: 25px;
  background-color: #e84d37;
  background-image: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  box-shadow: 0 2px 2px 0 rgba(171, 16, 0, 0.63);
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
}
.contact-button:hover,
.contact-button:focus {
  background-color: #ffffff;
  background-image: linear-gradient(0deg, #eb6e5d 0%, #f48668 100%);
  box-shadow: 0 1px 2px 0 #ab1000;
}
.contact-button:active {
  background-color: #ffffff;
  background-image: linear-gradient(0deg, #e1613e 0%, #d74531 100%);
}
.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer-social {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0 0 0 31px;
  padding: 0;
}
.footer-social li {
  margin: 0 12px 0 0;
  opacity: 0.8;
}
.footer-social li:hover {
  opacity: 1;
}
.footer-social li:active {
  opacity: 0.7;
}
.footer-social li svg {
  width: 32px;
  height: 32px;
  border: 2px solid #ffffff;
  opacity: 0.5;
  border-radius: 50%;
}
.footer-social li:nth-child(4) {
  margin: 0 0 0 0;
}
.footer-social-link {
  color: #ffffff;
}
.footer-suppliers {
  max-width: 340px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: underline;
  margin: 0 195px 0 240px;
}
.footer-suppliers a {
  margin: 30px 30px 10px 0;
  color: #ffffff;
}
.footer-suppliers a:nth-child(1)::before {
  content: "";
  display: block;
  width: 15px;
  height: 13px;
  position: absolute;
  top: 38px;
  left: -23px;
  background-image: url(../svg/heart.svg);
  background-size: 100%;
  background-color: transparent;
  background-position: center;
}
.footer-suppliers a:nth-child(2) {
  margin: 32px 0 9px 0;
}
.footer-suppliers a:nth-child(3) {
  margin: 0 44px 31px 0;
}
.footer-suppliers a:nth-child(4) {
  margin: 0 0 31px 0;
}
.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin: 0 0 15px 0;
}
.footer-copyright::before {
  content: "";
  display: block;
  width: 110px;
  height: 40px;
  margin: 0;
  background-image: url(../svg/logo-htmlacademy.svg);
  background-size: 100%;
  background-color: transparent;
  background-position: center;
}
.footer-academy {
  color: #fefefe;
}
.footer b {
  text-decoration: underline;
}
.modal {
  position: fixed;
  color: #323232;
  background-color: #f8f7f4;
}
.modal-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-mask-show {
  display: block;
}
.modal-feedback {
  display: none;
  top: 340px;
  left: 50%;
  margin-left: -239px;
  width: 478px;
  height: 443px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
.modal-feedback-user {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
  text-align: left;
  padding: 0 0 0 24px;
  margin: 20px 0 24px 0;
}
.modal-feedback-user-registration {
  font: inherit;
  line-height: 24px;
  color: #999999;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border: 1px solid rgba(178, 178, 178, 0.51);
  padding: 0 0 0 24px;
  margin: 0;
  box-sizing: border-box;
}
.modal-feedback-user-registration textarea {
  width: 428px;
  height: 155px;
  padding: 15px 0 0 15px;
  margin: 0 0 25px 0;
  box-sizing: border-box;
}
.modal-feedback-user-name {
  width: 267px;
  height: 44px;
  padding: 0 0 0 15px;
  margin: 0 0 20px 0;
}
.modal-feedback-user-name::placeholder {
  font: inherit;
  line-height: 24px;
}
.modal-feedback-user-email {
  width: 267px;
  height: 44px;
  padding: 0 0 0 15px;
  margin: 0 0 20px 0;
}
.modal-feedback-user-email::placeholder {
  font: inherit;
  line-height: 24px;
}
.modal-feedback-close {
  position: absolute;
  top: 16px;
  left: 445px;
  width: 18px;
  height: 18px;
  border: 0;
  cursor: pointer;
}
.modal-feedback-close::after,
.modal-feedback-close::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 18px;
  height: 3px;
  background-color: #323232;
  transform: rotate(-45deg);
}
.modal-feedback-close::before {
  transform: rotate(45deg);
}
.modal-show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}
.modal-error {
  animation-name: shake;
  animation-duration: 0.6s;
}
.feedback-button {
  position: absolute;
  top: 372px;
  left: 314px;
  width: 139px;
  padding: 8px;
  border-radius: 25px;
  background-color: #e84d37;
  background-image: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  box-shadow: 0 2px 2px 0 rgba(171, 16, 0, 0.63);
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
}
.feedback-button:hover,
.feedback-button:focus {
  background-color: #ffffff;
  background-image: linear-gradient(0deg, #eb6e5d 0%, #f48668 100%);
  box-shadow: 0 1px 2px 0 #ab1000;
}
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
.breadcrumbs {
  display: flex;
  padding: 16px 0 0 25px;
  margin: 0;
}
.breadcrumbs li {
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  margin: 0 5px 5px 0;
}
.breadcrumbs li:last-child::after {
  content: "";
}
.breadcrumbs li::after {
  content: "»";
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  padding: 0 0 0 10px;
}
.breadcrumbs li a {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.breadcrumbs-active {
  color: #ffffff;
}
.option {
  width: 100%;
  margin-top: -35px;
}
.option legend {
  margin: 0 0 7px 15px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 500;
}
.option fieldset {
  border: 0;
  margin: 0 15px 0 0;
  padding: 0;
}
.option select {
  text-transform: none;
}
.option input {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.option-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
  padding: 0 0 0 27px;
  margin: 0 0 25px 0;
}
.option-sorting {
  color: #ffffff;
  background-color: transparent;
  border: 0;
  /* outline: none;*/
}
.option-sorting-block-one {
  display: flex;
  margin: 0 0 15px 27px;
}
.option-sorting-block-two {
  display: flex;
  margin: 0 0 40px 27px;
}
.option-background {
  padding: 7px 12px;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
}
.option-btn {
  align-self: flex-end;
  width: 144px;
  height: 36px;
  opacity: 0.95;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.18);
  border: 2px solid #ffffff;
  border-radius: 25px;
  line-height: 18px;
  color: #ffffff;
}
.option-btn:hover,
.option-btn:focus {
  background-color: #ffffff;
  color: #323232;
}
.option-btn:active {
  background-color: #ededed;
  color: #323232;
  border-color: #ededed;
}
.icon-down {
  position: absolute;
  right: 12px;
  top: 14px;
  z-index: 1;
  box-sizing: border-box;
  fill: #ffffff;
}
.select {
  position: relative;
  display: inline-block;
  padding: 7px 8px 7px 15px;
}
.select:hover .option-sorting,
.select:focus .option-sorting {
  color: #323232;
}
.select:hover .icon-down {
  fill: #323232;
}
.price-controls {
  position: relative;
  display: inline-block;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 35%;
  left: 58%;
  width: 7px;
  height: 2px;
  background: #fff;
}
.ranges {
  position: relative;
  width: 215px;
}
.ranges .option-background {
  width: 195px;
  height: 20px;
  padding: 8px 12px;
}
.ranges input {
  width: 55px;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  background: 0 0;
  border: 0;
  font-weight: 500;
}
.ranges label {
  width: 60px;
  margin-right: 6px;
  margin-top: -2px;
}
.ranges-controls {
  position: absolute;
  bottom: 17px;
  left: 17px;
}
.ranges-toggle {
  position: absolute;
  top: -8px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.ranges-toggle-min {
  left: 17px;
}
.ranges-toggle-max {
  right: 43px;
}
.scale {
  width: 175px;
  height: 4px;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.3);
  margin-left: 5px;
}
.bar {
  width: 103px;
  height: 4px;
  background: #fff;
  margin-left: 25px;
}
.fat-level .option-background {
  padding-top: 8px;
  padding-right: 0;
  padding-left: 18px;
}
.fat-level ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.filter-option {
  display: inline-block;
  padding: 0 14px 0 32px;
}
.filter-option input {
  display: none;
}
.filter-option label {
  color: #ffffff;
  position: relative;
  display: block;
  cursor: pointer;
}
.radio-filter:hover + label::before,
.radio-filter:focus + label::before {
  border-color: #ffffff;
}
.radio-filter:checked:hover + label::after,
.radio-filter:checked:focus + label::after {
  background-color: #ffffff;
}
.radio-filter:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -26px;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}
.radio-filter + label::before {
  content: "";
  position: absolute;
  left: -33px;
  top: 0;
  width: 16px;
  height: 16px;
  border: 3px solid #ffffff;
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}
.fillers ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.checklist {
  padding: 0 18px 0 33px;
}
.checkbox-filter:hover + label::before,
.checkbox-filter:focus + label::before {
  border-color: #ffffff;
}
.checkbox-filter:checked:hover + label::after,
.checkbox-filter:checked:focus + label::after {
  opacity: 1;
}
.checkbox-filter:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -33px;
  width: 24px;
  height: 24px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}
.checkbox-filter + label::before {
  content: "";
  position: absolute;
  left: -33px;
  top: -2px;
  width: 19px;
  height: 19px;
  border: 2px solid #ffffff;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}
.guide {
  width: 100%;
  padding: 0 27px 0 27px;
  box-sizing: border-box;
}
.guide::after {
  content: "";
  display: block;
  width: 1146px;
  height: 1px;
  opacity: 0.3;
  background-color: #ffffff;
}
